/* Basic Styles for App */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

.main-container {
  padding: 2rem;
  background-color: #fff;
}

.testimonials {
  background-color: #000000;
  padding: 3rem 2rem;
}

.testimonials-title {
  text-align: center;
  margin-top: 60px;
  font-size: 2rem;
  color: #000000;
  margin-bottom: 30px;
  text-decoration: underline;
}

.testimonials-title h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .testimonials-title {
    font-size: 1.5rem; /* Adjust font size for mobile */
    margin-top: 40px; /* Reduce margin */
  }
}

.six-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 3rem 2rem;
  margin-top: 80px;
  background-color: rgb(0, 0, 0);
  background-image:
    linear-gradient(white 1px, transparent 1px),
    linear-gradient(90deg, white 1px, transparent 1px);
  background-size: 20px 20px;
}

@media (max-width: 1024px) {
  .six-boxes {
    grid-template-columns: repeat(2, 1fr); /* Two columns for tablets */
  }
}

@media (max-width: 768px) {
  .six-boxes {
    grid-template-columns: 1fr; /* Stack all boxes vertically for mobile */
  }
}
