
footer {
  display: flex;
  align-items: center; 
  background-color: transparent;
  color: rgb(0, 0, 0);  
  padding: 20px 40px;  
  width: 100%; 
  bottom: 0;  
  left: 0; 
  z-index: 1000; 
  flex-shrink: 0;  
  justify-content: space-between; 
  gap: 2rem; 
  position: relative; 
}

.footer-left .social-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
  margin-bottom: 1rem; 
}

.footer-left .social-links {
  display: flex;
  flex-direction: row; 
  gap: 1rem;
}


.footer-left .social-links a:hover {
  color: #00aaff;
}


.footer-right {
  text-align: center;  
  font-size: 14px;
  flex-grow: 1;  
}

@media (max-width: 768px) {
  footer {
    flex-direction: column; 
    text-align: center;  
  }

  .footer-left {
    margin-bottom: 10px;
  }
}
